@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Aurora Background Animation */
.aurora-layer-1 {
    background: linear-gradient(45deg,
    rgba(134,195,50,0) 0%,
    rgba(134,195,50,0.3) 50%,
    rgba(134,195,50,0) 100%
    );
    filter: blur(60px);
    animation: aurora1 15s infinite;
    transform-origin: center;
}

.aurora-layer-2 {
    background: linear-gradient(-45deg,
    rgba(99,156,128,0) 0%,
    rgba(99,156,128,0.3) 50%,
    rgba(99,156,128,0) 100%
    );
    filter: blur(60px);
    animation: aurora2 20s infinite;
    animation-delay: -5s;
    transform-origin: center;
}

.aurora-layer-3 {
    background: linear-gradient(90deg,
    rgba(135,240,15,0) 0%,
    rgba(135,240,15,0.3) 50%,
    rgba(135,240,15,0) 100%
    );
    filter: blur(60px);
    animation: aurora3 25s infinite;
    animation-delay: -10s;
    transform-origin: center;
}

@keyframes aurora1 {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(2);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(2.5);
    }
}

@keyframes aurora2 {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(180deg) scale(2);
    }
    50% {
        transform: translate(-50%, -50%) rotate(0deg) scale(2.5);
    }
}

@keyframes aurora3 {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(-90deg) scale(2);
    }
    50% {
        transform: translate(-50%, -50%) rotate(90deg) scale(2.5);
    }
}
